/*
**底部导航固定
*/
.fixed-footer{
	position: fixed;
}
/*
**顶部导航固定
*/
.fixed-title{
	position: fixed;
}
/*
**购物轮播图
*/
 .slider {
      height: 100%;
    }
    .slider-slide {
      color: #000;
      background-color: #fff;
      text-align: center;

      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
      font-weight: 300;
    }

    .slideimg{
    height: 128px;
    width: 100%;
    } 
/*
**购物九宫格
*/ 
  .home3{
  color: #666;
  }
 .home3 i{
 display: inline-block;
 height:30px;
 width:30px;
 border:0px solid red;
 border-radius:15px;
 background-color: red;
 color: white;
 font-size: 20px;
 line-height: 30px;
 margin-bottom: 10px;
 }
 /*
**热门推荐虚线
*/
.rmtjxx{
	margin-top:20px !important;
	
}
.rmtjxx-c{
	text-align: center;
	color:#666;
	font-weight: bold;
	font-size: 16px;
}

/*
**热门推荐主体商品
*/
.rmtjsp{
	margin-bottom:50px !important;
}
.goods-title{
white-space:normal !important;
}
.goods-price{
	text-decoration: line-through;
}
.goods-relprice{
	color:red !important;
}
/*
**热门推荐主体商品下拉刷新
*/
.down-refresh{
	text-align: center;
	line-height: 33px;
}
/*
**tab-person
*/
.person-home2{
   
  color: #666;
}
.person-home2 i{
 display: inline-block;
 height:30px;
 width:30px;
 border:0px solid red;
 border-radius:15px;
 background-color: red;
 color: white;
 font-size: 22px !important;
 line-height: 30px;
 margin-bottom: 10px;
 }
 .jiugongge{
  border: 1px solid #ccc;
 }
.jiugongge div{
  padding: 0px;
  margin: 5px !important;
}
.jiugongge div a{
  text-align: center;
  display: inline-block;
  border: 1px solid #ccc;
  width: 32%;
  padding: 15px;
  color:black;
  line-height: 5px;
}
.jiugongge-btn i{
  display:block;
 height:30px;
 width:30px;
 border:0px solid blue;
 border-radius:15px;
 background-color: blue;
 color: white;
 font-size: 22px !important;
 line-height: 30px;
 margin: 10px auto;
}